<!-- START FOOTER-->
<footer class="footer has-background-black has-text-white">
<div class="container">
    <div class="content has-text-centered">
        <p>
            <img src="/assets/images/weather-icon.svg" alt="Whether Weather by Adam McCarthy, 2025" class="image is-16x16 is-inline">
            Whether Weather — Adam McCarthy 2025 &copy;
        </p>
    </div>
</div>
</footer>
<!-- END FOOTER -->