<!-- START HEADER -->
        <header class="column is-12">
            <div class="is-flex is-gap-6 is-justify-content-center is-align-items-center">
                <img class="is-hidden-mobile" src="/assets/images/main-logo-ww.png" alt="Whether Weather">
                <h1 class="is-size-1 has-text-light">{{ pageTitle }}</h1>
            </div>
        </header>
<!-- END HEADER -->