<!-- START NAV -->
    <nav class="navbar is-dark has-background-black">
        <div class="navbar-brand">
            <a href="/" class="is-hidden-mobile navbar-item brand-logo is-dark">
                <p class="is-size-3 has-text-weight-bold">Whether Weather</p>
            </a>

            <a href="/" class="is-hidden-tablet navbar-item brand-logo is-dark">
                <img src="/assets/images/main-logo-ww.png" alt="Whether Weather">
            </a>
        
            <span class="navbar-burger has-background-black" data-target="navbarMenu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </span>
        </div>
        <div id="navbarMenu" class="navbar-menu is-gap-3 px-6">
            <div class="navbar-end">
                {% set navPages = collections.all | eleventyNavigation %}

                {% for entry in navPages %}
                    {% if entry.children and entry.children.length > 0 %}

                    <!-- Here I will make a variable to store if any of the cities are active. If they are I will make the cities item on the navbar active also-->
                     {% set cityActive = false %}
                        {% for child in entry.children %}
                            {% if child.url == page.url %}
                            {% set cityActive = true %}
                            {% endif %}
                        {% endfor %}

                        <!-- This is where the dropdown gets generated -->
                        <div href="" class="navbar-item has-dropdown is-hoverable">
                            <a href="" class="navbar-link has-text-white is-size-5 {% if cityActive%}is-active{% endif %}">{{ entry.title }}</a>
                            <div class="navbar-dropdown">
                                {% for child in entry.children %}
                                <a href="{{ child.url | url }}" class="navbar-item is-size-6 {% if child.url == page.url %}is-active{% endif %}">{{ child.title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        <!-- This is where the Dashboard and Settings links are generated -->
                        <a href="{{ entry.url | url }}" class="navbar-item has-text-white is-size-5 {% if entry.url == page.url %}is-active{% endif %}"> {{ entry.title }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </nav>
    <!-- END NAVIGATION -->

    