<!-- START NAV -->
    <nav class="navbar is-dark has-background-black">
        <div class="navbar-brand">
            <a href="/index" class="is-hidden-mobile navbar-item brand-logo is-dark">
                <p class="is-size-3 has-text-weight-bold">Whether Weather</p>
            </a>

            <a href="/index" class="is-hidden-tablet navbar-item brand-logo is-dark">
                <img src="/assets/images/main-logo-ww.png" alt="Whether Weather">
            </a>
        
            <span class="navbar-burger has-background-black" data-target="navbarMenu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </span>
        </div>
        <div class="navbar-end">
            <div id="navbarMenu" class="navbar-menu is-gap-3 px-6">
                <a href="" class="navbar-item has-text-white is-size-5">Dashboard</a>
                <div href="" class="navbar-item has-dropdown is-hoverable">
                    <a href="" class="navbar-link has-text-white is-size-5">Cities</a>
                    <div class="navbar-dropdown">
                        <a href="/pages/sao-paulo" class="navbar-item is-size-6">Sao Paulo</a>
                        <a href="/pages/tokyo" class="navbar-item is-size-6">Tokyo</a>
                        <a href="/pages/london" class="navbar-item is-size-6">London</a>
                        <a href="/pages/madras" class="navbar-item is-size-6">Madras</a>
                        <a href="/pages/perth" class="navbar-item is-size-6">Perth</a>
                        <a href="/pages/volgograd" class="navbar-item is-size-6">Volgograd</a>
                    </div>
                </div>
                <a href="" class="navbar-item has-text-white is-size-5">Settings</a>
            </div>
        </div>
    </nav>
    <!-- END NAVIGATION -->