{% for key, day in week %}
<!-- START FORECAST DAY-->
<article class="card-content is-flex is-justify-content-space-between is-align-items-center">
    <p class="is-size-4">Today</p>
    <div class="is-flex is-align-items-center is-gap-1">
        <figure class="image is-64x64 is-inline-block">
            <img src="{{ week.today.img }}" alt="{{ day.imgAlt}}">
        </figure>
        <p class="is-size-4 has-text-weight-bold">{{ day.desc}}</p>
    </div>
    <p class="has-text-weight-bold is-size-4">{{ day.temp }}&deg;C</p>
</article>
<div class="card-footer"></div> <!-- card footers included to make dividing line between days-->
<!-- END FORECAST DAY-->
{% endfor %}