---
layout: layout.njk

pagination:
  data: cityData
  size: 1
  alias: city
  addAllPagesToCollections: true
permalink: "/city-pages/{{ city.slug }}/index.html"
eleventyComputed:
  eleventyNavigation:
    parent: "Cities"
    key: "{{ city.pageTitle }}"
---

{% include "left-panel.njk" %}

{% include "right-panel.njk" %}  