--- 
layout: layout.njk 

# My goal in writing out the variables here is two fold
# 1. I want to use pagination and I need each page to have a set of constants to fill it in. 
# 2. Outside of this assignment I plan to continue building this out so that it has a backend which updates
# the pages. I want to be able to set the values using an API call (havent figured out how to do this yet, but
# my programming experience tells me to keep everything in one place and then put the logic for changing it in later)

# Variables in page

# Title 
pageTitle: "Sao Paulo"

# Current Weather Section 
current:
 city: "Sao Paulo, Brazil"
 precip: "5"
 temp: 30
 low: 21
 high: 32
 img: "/assets/images/sun-image.png"
 imgAlt: "sun image"

# Four card forecast for Today
today:
  block1:
    time: "08:00"
    img: "/assets/images/sun-cloud-image.svg"
    imgAlt: "sun and cloud image"
    temp: 21
  block2:
    time: "12:00" 
    img: "/assets/images/sun-image.png"
    imgAlt: "sun image"
    temp: 28
  block3:
    time: "16:00"
    img: "/assets/images/sun-image.png"
    imgAlt: "sun image"
    temp: 32
  block4:
    time: "20:00"
    img: "/assets/images/sun-cloud-image.svg"
    imgAlt: "sun and cloud image"
    temp: 26

# Weather info section 
weatherInfo:
  visibility: "37km"
  feels: 32
  maxWind: "8"
  uvIdx: "10 (Very High)"
  precip: 0
  humidity: 50

# Seven day forecast section 
week:
  today:
    img: "/assets/images/sun-image.png"
    imgAlt: "sun image"
    desc: "Hot"
    temp: 32
  mon:
    img: "/assets/images/sun-image.png"
    imgAlt: "sun image"
    desc: "Very Hot"
    temp: 35
  tues:
    img: "/assets/images/sun-image.png"
    imgAlt: "sun image"
    desc: "Very Hot"
    temp: 36
  weds:
    img: "/assets/images/sun-image.png"
    imgAlt: "sun image"
    desc: "Very Hot"
    temp: 35
  thurs:
    img: "/assets/images/sun-cloud-image.svg"
    imgAlt: "sun and cloud image"
    desc: "Hot"
    temp: 31
  fri:
    img: "/assets/images/sun-cloud-image.svg"
    imgAlt: "sun and cloud image"
    desc: "Hot"
    temp: 30
  sat:
    img: "/assets/images/sun-rain-image.svg"
    imgAlt: "sun and rain image"
    desc: "Hot"
    temp: 28
  
    
---

        <!-- START LEFT PANEL -->

        <!-- CURRENT WEATHER START -->
        <div class="column is-8-desktop is-12-tablet">
            <section class="container box columns has-background-black is-vcentered">
                <div class="column is-two-thirds">
                    <div class="card">
                        <article class="card-content is-flex is-flex-direction-column is-gap-2">
                            <div>
                                <p class="is-size-3 has-text-weight-bold">{{ current.city }}</p>
                                <p class="has-text-grey">Chance of precipitation: {{ current.precip }}%</p>
                            </div>
                            <div>
                                <p class="is-size-3 has-text-weight-bold">Temp: {{current.temp}}&deg;C</p>
                                <p class="has-text-grey">Lo/Hi: {{ current.low }}&deg;C/{{ current.high }}&deg;C</p>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="column is-one-third">
                    <figure class="image">
                        <img src="{{ current.img }}" alt="{{ current.imgAlt }}">
                    </figure>
                </div>
            </section>
            <!-- CURRENT WEATHER END -->

            <!-- TODAYS FORECAST START -->
            <section class="container columns is-mobile is-multiline has-text-centered box has-background-black ">
                <div class="column is-12 has-text-light is-size-3">
                    <h2 class="has-text-weight-bold">Todays Forecast</h2>
                </div>
                
                
                {% include "todays-forecast-cards.njk" %}

            </section>
            <!-- TODAYS FORECAST END -->

            <!-- WEATHER INFO START -->
            <section class="box px-5 has-background-black has-text-white">
                <h2 class="title has-text-white has-text-centered is-12">Weather Info</h2>
                
                <div class="is-flex is-justify-content-space-between">
                    <div class="is-flex is-flex-direction-column is-gap-2">
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-32x32">
                                <img src="/assets/images/wi-visibility.svg" alt="sun icon">
                            </figure>
                            <p class="is-size-5">Visibility: {{ weatherInfo.visibility }}</p>
                        </div>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-32x32">
                                <img src="/assets/images/wi-thermometer.svg" alt="sun icon">
                            </figure>
                            <p class="is-size-5">Feels Like: {{ weatherInfo.feels }}&deg;C</p>
                        </div>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-32x32">
                                <img src="/assets/images/wi-strong-wind.svg" alt="sun icon">
                            </figure>
                            <p class="is-size-5">Max Wind: {{ weatherInfo.maxWind }}km/h</p>
                        </div>
                    </div>
                    <div class="is-flex is-flex-direction-column is-gap-2">
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-32x32">
                                <img src="/assets/images/wi-uv.svg" alt="sun icon">
                            </figure>
                            <p class="is-size-5">UV Index: {{ weatherInfo.uvIdx }}</p>
                        </div>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-32x32">
                                <img src="/assets/images/wi-raindrop.svg" alt="raindrop icon">
                            </figure>
                            <p class="is-size-5">Precipitation: {{ weatherInfo.precip }}mm expected</p>
                        </div>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-32x32">
                                <img src="/assets/images/wi-humidity.svg" alt="">
                            </figure>
                            <p class="is-size-5">Humidity: {{ weatherInfo.humidity }}%</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- WEATHER INFO END -->

        <!-- END LEFT PANEL -->

        <!--- START RIGHT PANEL -->
        <div class="is-flex is-flex-direction-column column is-4-desktop is-12-tablet">
            <section class="box has-background-black">

                <div class="card py-6 is-flex is-flex-direction-column -">
                    <div class="card-header">
                        <h2 class="title card-header-title">
                            7 Day Forecast
                        </h2>
                    </div>
                    
                    <!-- START FORECAST DAY-->
                    <article class="card-content is-flex is-justify-content-space-between is-align-items-center">
                        <p class="is-size-4">Today</p>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-64x64 is-inline-block">
                                <img src="{{ week.today.img }}" alt="{{ week.today.imgAlt}}">
                            </figure>
                            <p class="is-size-4 has-text-weight-bold">{{ week.today.desc}}</p>
                        </div>
                        <p class="has-text-weight-bold is-size-4">{{ week.today.temp }}&deg;C</p>
                    </article>
                    <div class="card-footer"></div> <!-- card footers included to make dividing line between days-->
                    <!-- END FORECAST DAY-->
                    
                    <!-- START FORECAST DAY-->
                    <article class="card-content is-flex is-justify-content-space-between is-align-items-center is-gap-1">
                        <p class="is-size-4">Mon</p>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-64x64 is-inline-block">
                                <img src="{{ week.mon.img }}" alt="{{ week.mon.imgAlt }}">
                            </figure>
                            <p class="is-size-4 has-text-weight-bold">{{ week.mon.desc }}</p>
                        </div>
                        <p class="has-text-weight-bold is-size-4">{{ week.mon.temp }}&deg;C</p>
                    </article>
                    <div class="card-footer"></div>
                    <!-- END FORECAST DAY-->
                    
                    <!-- START FORECAST DAY-->
                    <article class="card-content is-flex is-justify-content-space-between is-align-items-center is-gap-1">
                        <p class="is-size-4">Tues</p>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-64x64 is-inline-block">
                                <img src="{{ week.tues.img }}" alt="{{ week.tues.imgAlt }}">
                            </figure>
                            <p class="is-size-4 has-text-weight-bold">{{ week.tues.desc }}</p>
                        </div>
                        <p class="has-text-weight-bold is-size-4">{{ week.tues.temp }}&deg;C</p>
                    </article>
                    <div class="card-footer"></div>
                    <!-- END FORECAST DAY-->
                    
                    <!-- START FORECAST DAY-->
                    <article class="card-content is-flex is-justify-content-space-between is-align-items-center is-gap-1">
                        <p class="is-size-4">Weds</p>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-64x64 is-inline-block">
                                <img src="{{ week.weds.img }}" alt="{{ week.weds.imgAlt }}">
                            </figure>
                            <p class="is-size-4 has-text-weight-bold">{{ week.weds.desc }}</p>
                        </div>
                        <p class="has-text-weight-bold is-size-4">{{ week.weds.temp }}&deg;C</p>
                    </article>
                    <div class="card-footer"></div>
                    <!-- END FORECAST DAY-->
                    
                    <!-- START FORECAST DAY-->
                    <article class="card-content is-flex is-justify-content-space-between is-align-items-center is-gap-1">
                        <p class="is-size-4">Thurs</p>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-64x64 is-inline-block">
                                <img src="{{ week.thurs.img }}" alt="{{ week.thurs.imgAlt }}">
                            </figure>
                            <p class="is-size-4 has-text-weight-bold">{{ week.thurs.desc }}</p>
                        </div>
                        <p class="has-text-weight-bold is-size-4">{{ week.thurs.temp }}&deg;C</p>
                    </article>
                    <div class="card-footer"></div>
                    <!-- END FORECAST DAY-->
                    
                    <!-- START FORECAST DAY-->
                    <article class="card-content is-flex is-justify-content-space-between is-align-items-center is-gap-1">
                        <p class="is-size-4">Fri</p>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-64x64 is-inline-block">
                                <img src="{{ week.fri.img }}" alt="{{ week.fri.imgAlt }}">
                            </figure>
                            <p class="is-size-4 has-text-weight-bold">{{ week.fri.desc }}</p>
                        </div>
                        <p class="has-text-weight-bold is-size-4">{{ week.fri.temp}}&deg;C</p>
                    </article>
                    <div class="card-footer"></div>
                    <!-- END FORECAST DAY-->
                    
                    <!-- START FORECAST DAY-->
                    <article class="card-content is-flex is-justify-content-space-between is-align-items-center is-gap-1">
                        <p class="is-size-4">Sat</p>
                        <div class="is-flex is-align-items-center is-gap-1">
                            <figure class="image is-64x64 is-inline-block">
                                <img src="{{ week.sat.img }}" alt="{{ week.sat.imgAlt }}">
                            </figure>
                            <p class="is-size-4 has-text-weight-bold">{{ week.sat.desc }}</p>
                        </div>
                        <p class="has-text-weight-bold is-size-4">{{ week.sat.temp }}&deg;C</p>
                    </article>
                    <div class="card-footer"></div>
                    <!-- END FORECAST DAY-->

                    
                </div>
                
            </section>
        </div>
        <!--- END RIGHT PANEL -->
        
     </main>
     <!-- END MAIN -->
