--- 
layout: layout.njk 
pageTitle: Settings
eleventyNavigation:
  key: Settings
  order: 3
---
<div class="column is-four-fifths">
    
    <div class="columns is-centered">
      <div class="column ">
        <section class="box has-background-black">
          <!-- START SETTINGS PANEL -->
          <div class="columns is-multiline">
            <!-- START LEFT SETTINGS COLUMN-->
            <div class="column is-gap-3">
    
                <div class="card is-flex is-flex-direction-column is-gap-3 p-2">
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Temperature:
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">&deg;C</button>
                                <button class="button">&deg;F</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Air Quality:
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Wind Direction:
                        </p>
                            <div class="buttons has-addons">
                                <button class="button" width="100px">On</button>
                                <button class="button is-primary">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Visiblity
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Humidity
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Air Pressure
                        </p>
                            <div class="buttons has-addons">
                                <button class="button" width="100px">On</button>
                                <button class="button is-primary">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Max Wind
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Precipitation
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                </div>
    
            </div>
    
    
            <!-- END LEFT SETTINGS COLUMN-->
    
            <!-- START RIGHT SETTINGS COLUMN-->
            <div class="column is-gap-3">
              
                <div class="card is-flex is-flex-direction-column is-gap-3 p-2">
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Sao Paulo
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Dublin
                        </p>
                            <div class="buttons has-addons">
                                <button class="button" width="100px">On</button>
                                <button class="button is-primary">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            London
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Madras
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON --> 
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            New York
                        </p>
                            <div class="buttons has-addons">
                                <button class="button" width="100px">On</button>
                                <button class="button is-primary">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON --> 
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Perth
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Tokyo
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                    <!-- START BUTTON -->
                    <div class="is-flex is-align-items-center is-gap-3 is-justify-content-space-between">
                        <p class="is-size-4">
                            Volgograd
                        </p>
                            <div class="buttons has-addons">
                                <button class="button is-primary" width="100px">On</button>
                                <button class="button">Off</button>
                            </div>
                    </div>
                    <!-- END BUTTON -->
                </div>
    
            </div>
            <!-- END RIGHT SETTINGS COLUMN-->
          </div>
          <!-- END SETTINGS PANEL -->
        </section>
      </div>
    </div>
</div>