--- 
layout: layout.njk 
---
<div class="column is-four-fifths">
    
    <div class="columns is-centered">
      <div class="column ">
        <section class="box has-background-black">
          <!-- START SETTINGS PANEL -->
          <div class="columns is-multiline">
            <!-- START LEFT SETTINGS COLUMN-->
            <div class="column is-gap-3">
    
               
                </div>
    
            </div>
    
    
            <!-- END LEFT SETTINGS COLUMN-->
    
            <!-- START RIGHT SETTINGS COLUMN-->
            <div class="column is-gap-3">
              
                <div class="card is-flex is-flex-direction-column is-gap-3 p-2">
                   
                </div>
    
            </div>
            <!-- END RIGHT SETTINGS COLUMN-->
          </div>
          <!-- END SETTINGS PANEL -->
        </section>
      </div>
    </div>
</div>
